{
    "extends": "airbnb",
    "env": {
        "es6": true
    },
    "rules": {
      "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }],
      "react/prefer-stateless-function": [1, { "ignorePureComponents": true }]
    }
}
